body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1
  }
  header {
    background-color: #305d7a;
    color: #f1f1f1;
    padding: 3%;
    text-align: center;
  }

  div.row0:after
  {
    content: "";
    display: flex;
    clear: both;
    
  }

  div.row1:after
  {
    content: "";
    display: flex;
    clear: both;
    
  }

  

  .column.bottom {
    float: left;
    padding-right: 0px;
    width: 100%;
    margin: 0%;
    font-size: 75%;
    text-align: center;
    background-color: #9bd7d1;
  }
  

  
  /* Middle column */
  .column.top {
    float: center;
    text-align: center;
    justify-content:center;
    width: 100%;
    margin: 0%;
    font-size: 75%;
    background-color: #9bd7d1;
  }

  h1 {
    margin: 0;
    font-size: 36px;
  }
  h2 {
    margin: 0;
    font-size: 125%;
    font-weight: bolder;
  }
  nav {
    
    background-color: #9bd7d1;
    display: flex;
    justify-content:left;
    align-items: center;
    padding:2vh;
    font-family: monospace;
    font-size: 160%;
    overflow: hidden;
  }
  nav ul {
    
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
  }
  nav li {
    
    margin: 0vh 0%;
    
  }
  nav a {
    
    color: #305d7a;
    padding: 40px 1vh;
    text-decoration: none;
  }
  nav a:hover {
    color: #305d7a;
    background-color: #f9a36c;
    
    
    
  }
  main {
    padding: 5vh;
    
  }
  h3 {
    font-size: 18px;
    margin: 20px 0 10px;
    font-family: monospace;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style:inside;
    
  }

  div.foot.text{
    text-align:center;
    
  }

  ul.contact.info
  {
    list-style:none;
    font-family: monospace;
    font-weight:bolder;
    
    
  }

  li.insta
  {
    padding: 1vh;

  }

  li.facebook
  {
    padding: 1vh;
  }

  li.email
  {
    padding: 1vh;
  }

  a.facebook:hover{
    color: #f9a36c;
  }

  a.insta:hover{
    color: #f9a36c;
  }

  a.facebook:visited{
    text-decoration: none;
  }

  a.insta:visited{
    text-decoration: none;
  }

  a.facebook:link, a.facebook:visited {
    background-color: #305d7a;;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  
  a.facebook:link, a.facebook:hover  {
    background-color: #f9a36c;
    color: inherit;
    
  }

  a.insta:link, a.insta:visited {
    background-color: #305d7a;;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  
  a.insta:link, a.insta:hover  {
    background-color: #f9a36c;
    color: inherit;
    
  }